.container {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 10px;
}

.item {
    cursor: pointer;
}

.settingsModelItems {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.settingsModelItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.settingsModelItem > p {
    width: 75%;
}